// BLACK & WHITE:
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-grey: grey !default;

// DEFAULT SKIN:
$color-primary: red !default;
$color-secondary: #fafafa !default;
$color-tertiary: #4992a9;
$color-neutral: #dcedf3;
$color-background: $color-white !default;
$color-input: #bde5f1;
$color-outline: #8ea2ae;
$color-react: #15b8e8;

// CORRECT & INCORRECT:
$color-true: #1f8926;
$color-false: #cc3232;

.color-true,
[color-true] {
	color: $color-true !important;
}

.color-false,
[color-false] {
	color: $color-false !important;
}
