// Font weights (Coke's transference):
$font-light: $coke-font-light !default;
$font-regular: $coke-font-regular !default;
$font-bold: $coke-font-bold !default;
$font-black: $coke-font-black !default;

$font-open-sans: 'Open Sans' !default;
$font-fallback: sans-serif !default;

[font-open-sans],
.font-open-sans {
	font-family: $font-open-sans, $font-fallback;
}

@mixin open-sans {
	font-family: $font-open-sans, $font-fallback;
}

@function open-sans() {
	@return $font-open-sans, $font-fallback;
}

@font-face {
	font-family: $font-open-sans, $font-fallback;
}
