@import 'tokens/tokens';
@import 'page/page';

*:not(.fn-axis) {
	@include outline;
}

ul,
ol {
	list-style: none;
	@include share(margin, padding, 0);
}

a:visited,
a:focus {
	color: inherit;
}

.icon {
	@include circle(2em);

	&--mini {
		@include circle(1em);
	}

	&--big {
		@extend .icon--mini;
		@include circle(5em);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-light;
	font-family: open-sans();
}
