$coke-font-size: 15px;
$coke-line-height: 1.1;

$coke-gutter: 1rem;

$coke-breakpoints: (
  'phone': 320px,
  'phablet': 576px,
  'tablet': 768px,
  'desktop': 1024px
);

$coke-generate-box-sizing: true;
$coke-generate-normalize: true;
$coke-generate-reset: true;

$coke-generate-margin-rhythm: true;
$coke-generate-page-setup: true;

$coke-generate-flex-selectors: false;
$coke-generate-font-selectors: true;

$coke-debug-boxing: false;
$coke-debug-markup: false;
